<div class="row m-2">
    <div class="col display-6 text-danger text-nowrap align-self-center">
        {include "date.latte"}
    </div>
    <div class="col-md-auto display-1 text-nowrap text-center">
        {$allPeople|number:0,'',' '}
    </div>
    <div class="col display-6 align-self-center text-end">lidí zbývá naočkovat</div>
</div>
