<i>Zdroje:</i>
<div>
    Data o očkování:
    <a href="{$source}" class="text-secondary">
        {$source}
    </a>
</div>
<div>
    Věkové složení obyvatel:
    <a href="https://www.czso.cz/csu/czso/vekove-slozeni-obyvatelstva-2019" class="text-secondary">
        https://www.czso.cz/csu/czso/vekove-slozeni-obyvatelstva-2019
    </a>
</div>
